# Node
node_modules/
dist/
build/
.cache/
*.tsbuildinfo

# Hardhat
artifacts/
cache/
typechain-types/
deployments/

# Expo / React Native
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
android/
ios/

# Environment
.env
.env.local
.env.*.local

# Misc
.DS_Store
*.log
coverage/

# Yarn local artifacts
.pnp.cjs
.pnp.loader.mjs
.yarn/
